<h1>Editing post</h1>
<% form_for :post , :url => blog_path(@post) , :html => {:method => :put} do |f| -%>
    <%= f.error_messages %>
    <div><%= f.text_field :title %>
    <div><%= f.text_area :content %></div>
    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end -%>
 
<%= link_to 'Show', blog_path(@post) %> |
<%= link_to 'Back', blogs_path %><br>

<%= blog_path(@post) %>
 


